# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.gasm.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming\Other\gasm\.idea\.idea.gasm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
